---
// import Navbar from '../components/Navbar.svelte'
import Navbar from '../components/Navbar.astro';
const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <!-- <meta property="og:title" content={ogTitle}/> -->
    <!-- <meta property="og:image" content="https://jackbranch.dev/favicon.png" -->
		<title>{title}</title>
	</head>
	<body>
    <div class="min-h-screen bg-white dark:bg-[#001220]">
      <!-- Navbar -->
      <Navbar />

      <slot />
    </div>
	</body>
</html>
